body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
background-color: teal;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: #ed05e5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0052cc;
}

p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
